LapTrinhMang/UsingMyWS/Web References/MyService/MyWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GiaiPhuongTrinhBac2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="c" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GiaiPhuongTrinhBac2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GiaiPhuongTrinhBac2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GiaiPhuongTrinhBac2SoapIn">
    <wsdl:part name="parameters" element="tns:GiaiPhuongTrinhBac2" />
  </wsdl:message>
  <wsdl:message name="GiaiPhuongTrinhBac2SoapOut">
    <wsdl:part name="parameters" element="tns:GiaiPhuongTrinhBac2Response" />
  </wsdl:message>
  <wsdl:portType name="MyWSSoap">
    <wsdl:operation name="GiaiPhuongTrinhBac2">
      <wsdl:input message="tns:GiaiPhuongTrinhBac2SoapIn" />
      <wsdl:output message="tns:GiaiPhuongTrinhBac2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MyWSSoap" type="tns:MyWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GiaiPhuongTrinhBac2">
      <soap:operation soapAction="http://tempuri.org/GiaiPhuongTrinhBac2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MyWSSoap12" type="tns:MyWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GiaiPhuongTrinhBac2">
      <soap12:operation soapAction="http://tempuri.org/GiaiPhuongTrinhBac2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyWS">
    <wsdl:port name="MyWSSoap" binding="tns:MyWSSoap">
      <soap:address location="http://localhost:7070/MyWS.asmx" />
    </wsdl:port>
    <wsdl:port name="MyWSSoap12" binding="tns:MyWSSoap12">
      <soap12:address location="http://localhost:7070/MyWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>